<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sg.edu.np.mad.fitnessultimate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31"
        android:theme="@style/Theme.FitnessUltimate">

        <receiver android:name="sg.edu.np.mad.fitnessultimate.waterTracker.alarm.AlarmReceiver" />
        <receiver android:name="sg.edu.np.mad.fitnessultimate.waterTracker.alarm.DismissReceiver" />
        <receiver android:name="sg.edu.np.mad.fitnessultimate.waterTracker.alarm.SnoozeReceiver" />

        <service android:name="sg.edu.np.mad.fitnessultimate.waterTracker.alarm.AlarmSoundService" />

        <receiver
            android:name=".widgets.CalendarWidget"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calendar_widget_info" />
        </receiver>

        <service
            android:name=".widgets.CalendarWidgetService"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </service>

        <receiver
            android:name=".widgets.CalendarHeatmapWidget"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calendar_heatmap_widget_info" />
        </receiver>

        <service
            android:name=".widgets.CalendarHeatmapWidgetService"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </service>

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDBfpwpIuauYIj-XdbEWKisxhFSxjLazQ0" />

    <activity
        android:name=".training.counter.SquatCounterActivity"
        android:exported="true">
    </activity>
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.waterTracker.water.WaterTrackingActivity"
        android:exported="false" />

    <activity
        android:name="sg.edu.np.mad.fitnessultimate.waterTracker.alarm.ReminderActivity"
        android:exported="false" />
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.loginSignup.EditProfilePageActivity"
        android:exported="false" />
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.loginSignup.SignUpPageActivity"
        android:exported="true" />
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.loginSignup.LoginPageActivity"
        android:exported="true" />
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.loginSignup.ProfilePageActivity"
        android:exported="true" />
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.loginSignup.LoginOrSignUpOption"
        android:exported="true" />
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.MainActivity"
        android:exported="false" />
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.training.exercises.ExerciseActivity"
        android:exported="false" />
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.training.workouts.WorkoutActivity"
        android:exported="false" />
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.training.exercises.ExerciseCatalogueActivity"
        android:exported="false" />
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.training.workouts.WorkoutsCatalogueActivity"
        android:exported="false" />
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.training.TrainingMenuActivity"
        android:exported="false" />
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.foodtracker.LogDetails"
        android:exported="false" />
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.calendarPage.CalendarActivity"
        android:exported="false" />
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.foodtracker.SearchResultsActivity"
        android:exported="true" />
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.loginSignup.SplashActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.foodtracker.FoodTracker"
        android:exported="true" />
    <activity
        android:name="sg.edu.np.mad.fitnessultimate.chatbot.activity.ChatbotActivity"
        android:exported="true" />
    </application>
</manifest>
